$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$media: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@each $size, $px in $containers {
  @each $size1, $px2 in $media {
    @media screen and (min-width: $px2) {
      .container-#{$size} {
        max-width: $px;
        padding: 0.75rem;
        margin-bottom: 1.5rem;
        background-color: rgba(0, 123, 255, 0.15);
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
